@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2? família=Krona+One&display=swap');
:root {
    --cor-1: black;
    --cor-2: #865DFF;
    --cor-3: #C0EEF2;

    --fonte-1: 'montserrat', sans-serif;
    --fonte-2: 'krona one', sans-serif ;
}
*{
    margin: 0;
    padding: 0;
}
body{
    box-sizing: border-box;
    background-color: var(--cor-1);
    color: var(--cor-3);
}
.Destaque {
    color: var(--cor-2);
}
.cabecalho {
    padding: 0% 0% 0% 0%;
}
.cabecalho__menu {
    display: flex;
    gap: 75px;
    background-color: var(--cor-3);
    padding: 24px;
    
}
.cabecalho__menu__link {
    font-family: var(--fonte-1);
    font-size: 21px;
    font-weight: 600;
    color: var(--cor-2);
    text-decoration: none;
    padding: 2% 0% 0% 10%;
}
.cabecalho__menu__link:hover {
    color: var(--cor-1);
}
.apresentacao {
    padding: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo {
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.apresentacao__conteudo__titulo {
    font-size: 38px;
    font-family:var(--fonte-2) ;
    color: var(--cor-2);
}
.apresentacao__conteudo__texto {
    font-size: 16px;
    font-family: var(--fonte-1);
}
.apresentacao__conteudo__principal {
    font-size: 25px;
    font-family: var(--fonte-1);
}
.apresentacao__links {
    display:flex ;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__links__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-2);
    border-radius: 12px;
    width: 250px;
    text-align: center;
    font-size: 24px;
    padding: 16px 0;
    font-weight: 600;
    text-decoration: none;
    color: var(--cor-2);
    font-family:var(--fonte-1);
}
.minha__redes{
    font-family: var(--fonte-1);
    font-weight: 400;
    font-size: 24px;
}
.apresentacao__links__link:hover{
    background-color: var(--cor-2);
    color: var(--cor-1);
}
.rodape {
    color: var(--cor-1);
    background-color: var(--cor-2);
    padding: 28px;
    font-family: var(--fonte-1);
    text-align: center;
    font-size: 24px;
    font-weight: 400;
}